<ion-view title="Deposit" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button id="deposit-button20" class="button button-positive  button-block">Deposit Funds</button>
    <form id="deposit-form6" class="list">
      <ion-toggle toggle-class="toggle-positive" id="deposit-toggle1">Auto-allocate</ion-toggle>
    </form>
    <div id="deposit-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Quick Deposit Amounts</p>
    </div>
    <div id="deposit-button-bar3" class="button-bar">
      <button id="deposit-button24" class="button button-positive  button-block">$5</button>
      <button id="deposit-button25" class="button button-positive  button-block">$10</button>
      <button id="deposit-button26" class="button button-positive  button-block">$20</button>
    </div>
  </ion-content>
</ion-view>