<ion-view title="My Causes" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="myCauses-button-bar1" class="button-bar">
      <button id="myCauses-button11" class="button button-positive  button-block">1</button>
      <button id="myCauses-button12" class="button button-positive  button-block">2</button>
      <button id="myCauses-button13" class="button button-positive  button-block">3</button>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="myCauses-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="myCauses-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="myCauses-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="myCauses-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <button id="myCauses-button27" class="button button-positive  button-block">Deposit Now</button>
    <div id="myCauses-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Learn More Right Now About Stuff</p>
    </div>
  </ion-content>
</ion-view>