<ion-view title="Signup" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page13">
  <ion-content padding="false" style="background: url(img/7HqjUwVTEyTvVBfDB8FG_pexels-photo-115045.jpeg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="signup-form3" class="list center-form">
      <div class="spacer" style="width: 320px; height: 27px;"></div>
      <div>
        <img src="img/QIHjetvARSGU77756ZCc_mycrochangeapplogo.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 0px; height: 24px;"></div>
      <ion-list id="signup-list4">
        <label class="item item-input top-input" id="signup-input6">
          <span class="input-label">Name </span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input top-input" id="signup-input8">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input bottom-input" id="signup-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 0px; height: 0px;"></div>
      <a ui-sref="menu.myCauses" id="signup-button6" style="font-weight:500;color:#0090FF;" class="button button-stable  button-block">Sign Up</a>
      <a ui-sref="login" id="signup-button7" class="button button-light  button-block button-clear">Already have an account? Click here</a>
    </form>
  </ion-content>
</ion-view>